<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Touareg - Nomad Services Management</title>
    <script lang="javascript">
        window.nomad_url = "http://127.0.0.1:4646"
        window.nomad_node_url = "http://{node}:4646"
        window.consul_url = "http://127.0.0.1:8500"
    </script>
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
